/* @import-normalize;
html{
  background-color: #999;
  font-size: 62.5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
} */
