.game{
  margin-left: 10px
}

.game-board{
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr)
}

.game-cell{
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}